:root{
    font-size: 20px;
    color: black;
    font-family: 'Bellota Text'
    
}
body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-track{
    background:  rgb(196, 196, 196);
}
body::-webkit-scrollbar-thumb{
    background: whitesmoke;
}

body{
    margin: 0;
    padding: 0;
    height: 1800px;
    width: auto;
    background-color: rgb(196, 196, 196); 
    background-size: 100% 100%;
    
}

main{
    height: 100%;
    width: 100%;

}


header{
    width: 100%;
    height: 8%;
    top: 0;
    position: sticky;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
    

#text{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    text-align: center;

    
}

ul{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly ;
    list-style: none;
    
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    background-color: whitesmoke;
    color:rgb(196, 196, 196);
    border-radius: 0;
}


section{
    width: 100%;
    height: 88%;
    display: flex;
    justify-content: center;

}
#apology{
    height: 20%;
    width: 50%;
    margin-top: 10%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*
nav{
    width: 12%;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    
} */

#items{
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#row{
    width: 100%;
    height: 33%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#photo{
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    height: auto;
    width: 100%;
    
}


footer{
    width: 100%;
    height: 4%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column-reverse;

}

#price{
    font-weight: 600;
    font-style: bold;
    text-align: center;
}
#price:hover{
    background-color: rgb(196, 196, 196);
    color: whitesmoke;
    border-radius: 0;
}