:root{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Bellota Text'
}
body::-webkit-scrollbar {
    width: 0.3rem;
}
body::-webkit-scrollbar-track{
    background: black;
}
body::-webkit-scrollbar-thumb{
    background: whitesmoke;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(photos/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

header{
    background-color: none;
    display: block;
    text-align: center;
    padding-top: 300px;
    width: 100%;

}
section{
    margin-top: 3%;
    width: 100%;
    height: 100px;
    text-align: center;
    
}   
ul{
    display: block;
    padding: 0;

}
li{
    list-style: none;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    padding: 1px 6px 2px 6px;
    background-color:rgb(196, 196, 196);
    color:white;
    border-radius: 6px;
}

#social{
    margin-top: 40px;
}

#social a{
    margin: 3px;
    background-color: none;
    color: whitesmoke;

}
#social a:hover{
    padding: 0;
    background:none;
    color: rgb(196, 196, 196);
}

